/*
h1 -> called selector
{} -> called declaration block
color: green; -> called declaration

this is called css rule
h1 {
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

*/

/*combining element which has same declarations*/
h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

/*
descendant selector.
practically, it is better to avoid descendant selector with more than 3 level.
due to changes the element structure.
*/
footer p {
    font-size: 12px;
    text-align: center;
}

/*
use id selector for unique element.
practically, it is better to avoid id selector.
because it is not reusable.
use class selector for multiple element instead.
*/
#dev-quote {
    font-size: 18px;
    font-style: italic;
}

/*use class selector for multiple element*/
.feature-list {
    list-style: none;
}

.feature-title {
    font-family: Consolas, monospace;
    color: #69ad3d;
}

/*
Defining color.
1. Regular RGB / RGBA (plus "alpha" for transparency)
   Example: rgb(0, 0, 255) or rgba(255, 0, 0, 0.7)
2. Hexadecimal
   Using 0 to ff instead of using 0 to 255.
   ff is equal to 255.
   Example: #0000ff is equal to rgb(0, 0, 255)
   Shorthand: #00f is equal to rgb(0, 0, 255)

> Practically, designer use hexadecimal and RGBA for a transparency color.

Grey Color:
Whenever all three color has same value.
*/
.big-title {
    color: #54cf4f
}

.hero-banner {
    background-color: #077d38;
    border-top: 5px solid #4d4b4a;
    border-bottom: 5px solid #4d4b4a;
}

body {
    background-color: aliceblue;
}

/*
Pseudo-classes:
A keyword added to a selector that lets you style a specific state of the selected element(s).
For example, the pseudo-class `:hover` can be used to select a button when a user's pointer hovers over the button and this selected button can then be styled.

selector:pseudo-class {
  property: value;
}
*/
li:first-child:hover {
    font-weight: bold;
    color: red;
}

/*
Pseudo-classes is possible to accept a parameter.
Also, it can accept number, odd, or even.

NOTE: pseudo-classes won't work if the actual element is not represent the position mentioned by pseudo-classes.
Example: `main p:first-child`
Above selector won't work because inside main element,
the first child is not p element.
*/
li:nth-child(even) {
    background-color: aqua;
}

/*
Styling link.
Better use pseudo-class instead of element directly.
Also please notice the order of pseudo-class.
LVHA -> link visited, hover, active.
*/
a:link {
    color: fuchsia;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: black;
}

a:active {
    color: green;
    font-style: italic;
}

/*
Selector priority
0. important keyword
1. ID selector
2. Class selector or Pseudo-class selector
3. Element selector
4. Universal selector (using wildcard symbol *)
*/

/*
CSS Box Model
Content -> image, text, etc
Border -> The line around the edge of element
Padding -> the space between content and border
Margin -> the space between element and other element
Fill area -> area that gets filled with background color

Width -> the width of content
Final width of element -> left border + left padding + width + right padding + right border

Height -> the height of content
Final height of element -> top border + top padding + height + bottom padding + bottom border
*/